@import './base.styl';

$tab_background = #edf0f4
img
    max-width:100%;
.fs18 
    font-size:18px;
.fs14 
    font-size:14px;
    line-height: 1.2;
.pdtb5
    padding:5px 0;

.cube-page
    font-size:18px;
.cube_bd
    position:absolute;
    top:44px;
    left:0;
    right:0;
    bottom:46px;
    overflow:hidden;
.cube_ft
    .foot-tab
        position:fixed;
        bottom:0
        left:0
        right:0
        background:$tab_background
    .cube-tab
        div
            font-size:14px;

.tab-panel-li
    padding:10px;
    margin:20px;
    background:#215161
    text-align:left;
    border-radius:10px;
    color:#fff;
    .cubeic-star
        margin-top:4px;
        font-size:20px;
        float:right
        &:hover
            color:#e8864c
.tab-img
    height:178px;

.joke_tpye
    position:fixed;
    z-index: 11;
    right:6px;
    top:30%;
    width:40px;
    background:rgba(1,1,1,0.8);
    border-radius:6px;
    font-size:14px;
    color:#ED7317;
    text-align:center;
    padding:10px 0;
    .type-list
      padding: 12px 0;

.back_top
    position:fixed;
    z-index:11;
    right:10px;
    bottom:80px;
    width:40px;
    height:40px;
    border-radius:50%;
    background:rgba(1,1,1,0.8);
    color:#fff;
    font-size:14px;
    text-align:center;
    line-height:40px;

.profile_image
    height:40px;
    width:40px;
    border-radius:50%;
    margin-right:10px;

.video_box
    position:relative;
    .video-play
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        right 0;
        bottom:0;
        background:rgba(1,1,1,0.6) url(../assets/play-02.png) no-repeat center;

.user_img{
    margin:10px;
    border-radius:50%;
}

.horizontal-scroll-list-wrap
  &.cube-scroll-wrapper
    height:50px
  .cube-scroll-content
    display: inline-block
  .list-wrapper
    padding: 0 10px
    line-height: 50px
    white-space: nowrap
  .list-item
    display: inline-block
    padding: 0 10px
    &.active
        background:#ED7317
        color:#fff

.imglist
    background:#ED7317
    position:absolute
    top:52px;
    bottom:0;
    left:0;
    right:0;
    .imgtitle
        color:#fff;
        padding-bottom:10px;
